---
const { titulo, offset } = Astro.props;
---

<a href="#" class="background-shadowed relative aspect-square w-full h-full flex gap-2 lg:gap-4 justify-between p-[5%] items-center delay-[100ms] xl:delay-[150ms] duration-[400ms] taos:translate-x-[-200px] md:taos:translate-x-[0px] md:taos:translate-y-[200px] taos:opacity-0" data-taos-offset={offset}>
  <div class="flex w-max flex-1 h-full pt-[10%]">
    <h3 class={titulo}>Alfombras</h3>
  </div>
  <img
    src="/alfombras.webp"
    alt="Alfombras de Bonté"
    loading="lazy"
    class="object-cover h-full shrink min-w-0"
  />
  <div class="absolute w-[6.2%] h-[4%] bg-[#373535] left-[3%] bottom-[3%]"></div>
</a>
