<div class="background-shadowed relative aspect-square w-full h-full flex gap-4 justify-between p-[5%] items-center">
  <div class="flex flex-col w-full flex-1 2xl:h-full 2xl:pt-[10%] gap-2">
    <h3 class="text-3xl xl:text-4xl">Alfombras</h3>
    <p class="text-xs min-[470px]:text-sm sm:text-xs lg:text-sm items-center flex-1 w-full h-full">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit
      amet justo a magna interdum aliquet et at eros. Nunc egestas purus sed
      auctor volutpat. Ut bibendum tristique tortor, ut commodo odio lacinia id
    </p>
  </div>
  <img
    src="../public/alfombras.png"
    alt="Alfombras de Bonté"
    class="object-cover h-full shrink min-w-[40%] max-w-[60%]"
  />
  <div class="absolute w-[6.2%] h-[4%] bg-[#373535] left-[3%] bottom-[3%]"></div>
</div>
