<div
        class="background-shadowed relative aspect-square w-full h-full flex flex-col justify-end overflow-hidden delay-[100ms] duration-[500ms] xl:duration-[400ms] taos:translate-x-[-200px] xl:taos:translate-x-[0px] xl:taos:translate-y-[200px] taos:opacity-0 max-[1024px]:[animation-iteration-count:infinite]" data-taos-offset="100"
      >
        <h3 class="absolute text-3xl xl:text-4xl px-5 top-[6%]">Almohadones</h3>
        <div class="relative flex w-full h-[78%]">
          <p
            class="min-w-[160px] text-xs min-[470px]:text-sm sm:text-xs lg:text-sm 2xl:w-[55%] px-5 w-[65%] h-full"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            sit amet justo a magna interdum aliquet et at eros. Nunc egestas
            purus sed auctor volutpat. Ut bibendum tristique tortor, ut commodo
            odio lacinia id
          </p>

          <div class="relative w-full h-full">
            <img
              class="w-full h-full object-cover"
              src="/almohadones.webp"
              loading="lazy"
              alt="Almohadones de Bonté"
            />

            <div
              class="absolute w-[6%] h-[10%] bg-[#373535] bottom-0 -left-[6%]"
            >
            </div>
          </div>
        </div>
        <div class="absolute w-[10%] h-[4%] bg-[#373535] right-0 top-[2%]">
        </div>
      </div>