<div class="background-shadowed relative aspect-square w-full h-full delay-[300ms] xl:delay-[400ms] duration-[600ms] taos:translate-x-[-200px] xl:taos:[transform:translate3d(-200px,-200px,0)] taos:opacity-0 [animation-iteration-count:infinite]" data-taos-offset="300">
  <div class="relative h-full w-full bg-clip-content p-[3%] bg-cover bg-[url('/caminos.webp')] flex justify-center items-end">
    <div class="w-4/5 h-max flex flex-col items-center justify-center bg-[#D9DAD3] mb-[5%] gap-2 p-[3%]">
      <h3 class="text-3xl xl:text-4xl text-center">Caminos</h3>
      <p class="text-center text-xs min-[470px]:text-sm sm:text-xs lg:text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet justo a magna interdum aliquet et at eros. </p>
    </div>
    <div class="absolute w-[6.5%] h-[6.5%] bg-[#373535] right-[3%] top-[3%]"></div>
  </div>
</div>
