---
const { titulo, offset } = Astro.props;
const defaultTitulo = "absolute top-[6%]";
---

<a href="#" class="background-shadowed relative aspect-square w-full h-full pl-[8%] pr-[3%] py-[5%] flex items-end overflow-hidden delay-[100ms] md:delay-[200ms] xl:delay-[100ms] duration-[400ms] taos:translate-x-[-200px] md:taos:translate-x-[0px] md:taos:translate-y-[200px] taos:opacity-0" data-taos-offset={offset}>
    <h3 class={`${titulo} ${defaultTitulo}`}>Flores</h3>
    <div class="relative flex w-full h-[85%]">
      <img
          class="h-full shrink max-w-[85%] object-cover"
          src="/flores.webp"
          loading="lazy"
          alt="Flores de Bonté"
        />
      
  </div>
  <div class="absolute w-[1.2%] h-[24.4%] bg-[rgb(55,53,53,0.5)] left-[3.5%] top-[42%]"></div>
      <div class="absolute w-[1.2%] h-[8%] bg-[rgb(55,53,53,0.5)] right-0 top-[2%]"></div>
</a>