---
const { titulo, offset, redirect } = Astro.props;
const defaultTitulo = "w-[65%] text-center bg-[#D9DAD3] px-[10%] py-[3%] -mt-[5%] mb-[2%]";
---

<a href={redirect}
  class="background-shadowed md:overflow-hidden justify-stretch relative aspect-square w-full h-full flex flex-col p-[3%] items-center delay-[150ms] xl:delay-[125ms] duration-[400ms] taos:translate-x-[200px] md:taos:translate-x-[0px] md:taos:taos:translate-y-[200px] taos:opacity-0"
  data-taos-offset={offset}
>
  <img
    class="w-full h-[82%] object-cover"
    src="/manteles.webp"
    alt="Manteles de Bonté"
    loading="lazy"
  />
  <h3
    class={`${titulo} ${defaultTitulo}`}
  >
    Manteles
  </h3>
</a>
