---
const { titulo, offset } = Astro.props;
---

<a href="#"
  class="background-shadowed relative aspect-square w-full h-full p-[3%] flex flex-col items-center delay-[150ms] md:delay-[100ms] xl:delay-[125ms] duration-[400ms] taos:translate-x-[200px] md:taos:translate-x-[0px] md:taos:translate-y-[200px] taos:opacity-0" data-taos-offset={offset}
>
  <div class="relative flex w-full max-h-[76%] h-full shrink">
    <img
      class="w-full h-full object-cover"
      src="/pies-de-cama.webp"
      alt="Pies de cama de Bonté"
      loading="lazy"
    />
    <div
      class="absolute w-[21%] h-[1.75%] bg-[rgb(55,53,53,0.5)] right-0 -bottom-[1.75%]"
    >
    </div>
  </div>
  <div class="flex flex-col items-center h-full gap-[5%] py-[6%] flex-1 px-[2%]">
    <h3 class={titulo}>Pies de cama</h3>
     </div>
    </a>
