---
const { titulo, offset, redirect } = Astro.props;
const defaultTitulo = "min-w-[65%] text-center bg-[#D9DAD3] px-[10%] py-[3%] z-10";
---

<a href={redirect}
  class="background-shadowed relative aspect-square w-full h-full flex flex-col p-[3%] items-center delay-[150ms] md:delay-[100ms] xl:delay-[175ms] duration-[400ms] taos:translate-x-[200px] md:taos:translate-x-[0px] md:taos:translate-y-[200px] taos:opacity-0" data-taos-offset={offset}
>
  <h3
    class={`${titulo} ${defaultTitulo}`}
  >
    Servilletas
  </h3>
  <img
    src="/servilletas.webp"
    alt="Servilletas de Bonté"
    loading="lazy"
    class="object-cover w-full h-[74%] -mt-[3%] mb-[1%]"
  />
</a>
