---
const { titulo, offset, redirect } = Astro.props;
const defaultTitulo = "w-full";
---

<a href={redirect} class="background-shadowed relative aspect-square w-full h-full flex p-[3%]  delay-[100ms] md:delay-[150ms] xl:delay-[100ms] duration-[400ms] taos:translate-x-[-200px] md:taos:translate-x-[0px] md:taos:translate-y-[200px] taos:opacity-0" data-taos-offset={offset}>
  <img
    src="/toallas.webp"
    alt="Toallas de Bonté"
    loading="lazy"
    class="object-cover h-full shrink lg:w-full min-w-[50%] max-w-[93%]"
  />
  <div class="flex flex-col pl-[3%] pr-[6%] w-2/5 2xl:h-full 2xl:pt-[10%] py-[25%]">
    <h3 class={`${titulo} ${defaultTitulo}`}>Toallas</h3>
  </div>
  <div class="absolute w-[2.5%] h-[8%] bg-[#373535] right-[3%] top-[3%]"></div>
  <div class="absolute w-[21%] h-[1.3%] bg-[rgb(55,53,53,0.5)] right-[3%] bottom-[3%]"></div>
</a>
