---
import Layout from "../../../layouts/Layout.astro";
import Contacto from "../../../components/Contacto.astro";
import productos from "../../../../public/productos.json";

export async function getStaticPaths() {
  const paths = productos.map((producto) => ({
    params: {
      categoria: producto.categoria,
      producto: producto.nombre,
    },
  }));

  return paths;
}

const { categoria, producto } = Astro.params;

const datosProducto = productos.find(
  (p) => p.categoria === categoria && p.nombre === producto
);
---

<Layout
  title={`${datosProducto?.titulo || "Producto no encontrado"} - Bonté Deco`}
  description="Bonté Deco es una empresa dedicada a la venta de productos de decoración de interiores."
  keywords="bonte, bonté, decoración, decoracion, decoracion de interiores, cortinas, almohadones, pillow, pie de cama"
>
  {
    datosProducto ? (
      <Contacto
      consulta="pt-4 pb-12">
        <div class="flex flex-col sm:flex-row gap-4 mb-12">
          <img
            src={datosProducto.imagen1}
            alt="Imagen de producto"
            class="h-auto w-full sm:w-64 object-contain"
          />
          <div class="flex flex-col gap-4 sm:gap-2 justify-between">
            <div>
              <p>Esta consultando por este producto:</p>
              <p class="font-bold" id="productoNombre">
                {datosProducto.titulo}
              </p>
            </div>

            <div id="parametros-container" class="flex flex-col gap-4 sm:gap-2">
              <span id="tipo" />
              <span id="color" />
              <span id="tamaño" />
              <span id="diseño" />
            </div>
          </div>
        </div>

        <div slot="infoForm">
          <input
            type="hidden"
            name="categoria"
            id="categoriaInput"
            value={
              datosProducto[0]?.nombreCategoria ||
              categoria.charAt(0).toUpperCase() + categoria.slice(1)
            }
          />
          <input
            type="hidden"
            name="producto"
            id="productoInput"
            value={datosProducto.titulo}
          />
          <input type="hidden" name="tipo" id="tipoInput" />

          <input type="hidden" name="color" id="colorInput" />
          <input type="hidden" name="tamaño" id="tamanoInput" />
          <input type="hidden" name="diseño" id="disenoInput" />
        </div>
      </Contacto>
    ) : (
      <p>Producto no encontrado</p>
    )
  }
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const urlParams = new URLSearchParams(window.location.search);

    if(urlParams.get("tipo") !== null){
      document.getElementById("tipo").innerHTML =
        `<b>Tipo:</b> ${urlParams.get("tipo")}` || "";
    }
    if(urlParams.get("color") !== null){
      document.getElementById("color").innerHTML =
        `<b>Color:</b> ${urlParams.get("color")}` || "";
    }
    if(urlParams.get("tamaño") !== null){
      document.getElementById("tamaño").innerHTML =
        `<b>Tamaño:</b> ${urlParams.get("tamaño")}` || "";
    }
    if(urlParams.get("diseño") !== null){
      document.getElementById("diseño").innerHTML =
        `<b>Diseño:</b> ${urlParams.get("diseño")}` || "";
    }

    const tipoInput = document.getElementById("tipoInput") as HTMLInputElement;
    const colorInput = document.getElementById(
      "colorInput"
    ) as HTMLInputElement;
    const tamanoInput = document.getElementById(
      "tamanoInput"
    ) as HTMLInputElement;

    const disenoInput = document.getElementById(
      "disenoInput"
    ) as HTMLInputElement;

    tipoInput.value = urlParams.get("tipo") || "";
    colorInput.value = urlParams.get("color") || "";
    tamanoInput.value = urlParams.get("tamaño") || "";
    disenoInput.value = urlParams.get("diseño") || "";
  });
</script>
