---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Productos from '../components/Productos.astro';
import Categorias from '../components/Categorias.astro';
import QuienesSomos from '../components/QuienesSomos.astro';
import Faq from '../components/Faq.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bonte Deco"
description='Bonte Deco es una empresa dedicada a la venta de productos de decoraci贸n, decoraci贸n de interiores y decoraci贸n de cocina.'
keywords='bonte, decoraci贸n, decoracion, decoracion de interiores'>
	<main>
		<Banner />
		<Productos />
		<Categorias />
		<QuienesSomos />
		<Faq />
		<Contacto />
		<Footer />
	</main>
</Layout>
