---
import Layout from '../layouts/Layout.astro';
import Productos from '../components/Productos.astro';
import Catalogo from '../components/Catalogo.astro';
import QuienesSomos from '../components/QuienesSomos.astro';
import Faq from '../components/Faq.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bonté Deco"
description='Bonté Deco es una empresa dedicada a la venta de productos de decoración de interiores.'
keywords='bonte, bonté, decoración, decoracion, decoracion de interiores, cortinas, almohadones, pillow, pie de cama'>
	<main id="conocemas">
		
		<Productos id="productos" />
		<Catalogo id="catalogo"/>
		<QuienesSomos id="quienessomos"/>
		<Faq id="faq"/>
		<Contacto id="contacto"/>
		<Footer />
	</main>
</Layout>
