---
import Layout from '../layouts/Layout.astro';
import Productos from '../components/Productos.astro';
import Categorias from '../components/Categorias.astro';
import QuienesSomos from '../components/QuienesSomos.astro';
import Faq from '../components/Faq.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bonté Deco"
description='Bonté Deco es una empresa dedicada a la venta de productos de decoración, decoración de interiores y decoración de cocina.'
keywords='bonte, bonté, decoración, decoracion, decoracion de interiores'>
	<main id="conocemas">
		
		<Productos id="productos" />
		<Categorias id="categorias"/>
		<QuienesSomos id="quienessomos"/>
		<Faq id="faq"/>
		<Contacto id="contacto"/>
		<Footer />
	</main>
</Layout>
