<section class="relative flex justify-normal max-sm:flex-col sm:items-center sm:justify-between gap-2 px-12 h-[95vh] 
  before:absolute before:top-0 before:left-0 before:w-[100%] before:sm:w-[90%] before:h-[95%] before:sm:h-full before:bg-cover before:bg-[url('../public/banner-background.png')] before:z-[-1]">
 
    <div class="flex flex-col items-first justify-center gap-16 sm:gap-10 sm:w-[50%] max-sm:py-5 sm:h-[100%] text-white">
        <img class="w-24" src="../public/logo.svg" alt="Logo del banner Bonte Deco">
        <h1 class="text-8xl  max-lg:text-6xl  xl:w-[90%] text-[#f9f9f9]">Crea tu propio espacio</h1>
        <a class="bg-[#547498] hover:bg-[#39608d] transition ease-in-out duration-200 w-[max-content] px-5 py-3 sm:px-10 sm:py-3 rounded-xl text-base sm:text-lg" href="">Conocé más</a>
    </div>
    <img src="../public/banner-image.png" alt="Imagén del Banner" class="w-full h-[50%] sm:h-[70%] flex-1 sm:w-[50%] max-w-[45rem] min-[2000px]:w-full min-[2000px]:max-w-full  sm:px-5 object-cover object-center"> 
</section>
