---
const { id } = Astro.props;
---

<section id={id} class="bg-[rgb(213,216,204,0.4)] mt-24">
  <div class="hs-accordion-group container otros flex flex-col gap-4">
    <h2 class="text-3xl sm:text-4xl">Preguntas frecuentes</h2>
    <div
      class="hs-accordion"
      id="hs-basic-with-title-and-arrow-stretched-heading-one"
    >
      <button
        class="hs-accordion-toggle bg-[#D2D6C9] p-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-sm sm:text-base text-start  hover:bg-[#C4CBB1] rounded-lg disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false"
        aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one"
      >
        ¿Dónde puedo recibir mi pedido?
        <svg
          class="hs-accordion-active:hidden block size-8"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#3C2C0B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m6 9 6 6 6-6"></path>
        </svg>
        <svg
          class="hs-accordion-active:block hidden size-8"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#3C2C0B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m18 15-6-6-6 6"></path>
        </svg>
      </button>
      <div
        id="hs-basic-with-title-and-arrow-stretched-collapse-one"
        class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
        role="region"
        aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one"
        style="height: 0px;"
      >
        <p class="px-3 text-sm sm:text-base py-5">Realizamos envíos a todo el país.</p>
      </div>
    </div>

    <div
      class="hs-accordion"
      id="hs-basic-with-title-and-arrow-stretched-heading-two"
    >
      <button
        class="hs-accordion-toggle bg-[#D2D6C9]  p-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-sm sm:text-base text-start  hover:bg-[#C4CBB1] rounded-lg disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false"
        aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two"
      >
        ¿Cómo se realizan los envíos?
        <svg
          class="hs-accordion-active:hidden block size-8"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#3C2C0B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m6 9 6 6 6-6"></path>
        </svg>
        <svg
          class="hs-accordion-active:block hidden size-8"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#3C2C0B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m18 15-6-6-6 6"></path>
        </svg>
      </button>
      <div
        id="hs-basic-with-title-and-arrow-stretched-collapse-two"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
        role="region"
        aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two"
      >
        <p class="px-3 text-sm sm:text-base py-5">
          Trabajamos con: Andreani y Correo Argentino.
        </p>
      </div>
    </div>

    <div
      class="hs-accordion"
      id="hs-basic-with-title-and-arrow-stretched-heading-three"
    >
      <button
        class="hs-accordion-toggle bg-[#D2D6C9]  p-3 inline-flex items-center justify-between gap-x-3 w-full font-semibold text-sm sm:text-base text-start  hover:bg-[#C4CBB1] rounded-lg disabled:opacity-50 disabled:pointer-events-none"
        aria-expanded="false"
        aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-three"
      >
        ¿Qué debo hacer si el producto no llega en buen estado?

        <svg
          class="hs-accordion-active:hidden block size-8"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#3C2C0B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m6 9 6 6 6-6"></path>
        </svg>
        <svg
          class="hs-accordion-active:block hidden size-8"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#3C2C0B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m18 15-6-6-6 6"></path>
        </svg>
      </button>
      <div
        id="hs-basic-with-title-and-arrow-stretched-collapse-three"
        class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
        role="region"
        aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-three"
      >
        <p class="px-3 text-sm sm:text-base py-5">
          Comunícate con nosotros a <a href="" class="font-medium hover:text-[#705b35]">bonte.decotextil@gmail.com</a>
        </p>
      </div>
    </div>
    <div class="px-3 text-sm sm:text-base py-8 flex flex-col gap-5">
        <p class="font-semibold text-sm sm:text-base">Política de devoluciones
        </p>
        <p>Por dudas, cambios o devoluciones comunícate con nosotros a <a href="#" class="font-medium hover:text-[#5f4d27]">bonte.decotextil@gmail.com</a></p>
    </div>
  </div>
</section>

