<footer
  class="px-[5%] py-24 bg-[#C5CAB7] flex flex-col gap-24 overflow-hidden"
>
  <div class="flex md:flex-nowrap flex-wrap  w-full justify-between gap-y-24 gap-x-10 md:gap-y-5 md:gap-x-5">
    <div class="flex flex-col gap-8 w-full flex-1 lg:flex-none md:w-1/4 order-1">
      <span class="text-sm min-[470px]:text-base">Navegación</span>
      <ul class="flex flex-col gap-8 text-xs min-[470px]:text-sm w-full">
        <li><a href="/#productos">Productos destacados</a></li>
        <li><a href="/#catalogo">Catálogo de productos</a></li>
        <li><a href="/#quienessomos">Quiénes Somos</a></li>
        <li><a href="/#faq">Preguntas frecuentes</a></li>
        <li><a href="/#contacto">Contacto</a></li>
      </ul>
    </div>

    <div class="flex flex-col sm:flex-none gap-8 w-full md:w-1/2 order-last md:order-2">
      <span class="text-sm min-[470px]:text-base">Categorías</span>
      <div class="flex justify-between gap-24 md:gap-5">
        <ul class="flex flex-col gap-8 text-xs min-[470px]:text-sm w-full">
          <li><a href="/almohadones">Almohadones</a></li>
          <li><a href="/manteles">Manteles</a></li>
          <li><a href="/repasadores">Repasadores</a></li>
          <li><a href="/servilletas">Servilletas</a></li>
          <li><a href="/toallas">Toallas</a></li>
          <li><a href="/caminos">Caminos</a></li>
          <li><a href="/delantales">Delantales</a></li>
          <li><a href="/organizadores">Organizadores</a></li>
          
        </ul>
        <ul class="flex flex-col gap-8 text-xs min-[470px]:text-sm w-full">
          <li><a href="/alfombras">Alfombras</a></li>
          <li><a href="/cortinas">Cortinas de baño</a></li>
          <li><a href="/flores">Flores</a></li>
          <li><a href="/piedecama">Pies de cama</a></li>
          <li><a href="/fundas">Fundas de Edredón</a></li>
          <li><a href="/pillow">Pillow</a></li>
          <li><a href="/covers">Covers</a></li>
          <li><a href="/acolchados">Acolchados</a></li>
          
          
        </ul>
      </div>
    </div>

    <div
      class="flex flex-col gap-8 w-full md:w-1/4 md:order-last order-2 flex-1"
    >
      <span class="text-sm min-[470px]:text-base">Contacto</span>
      <ul class="flex flex-col gap-8 text-xs min-[470px]:text-sm w-full">
        <li>
          <a href="mailto:bonte.decotextil@gmail.com" target="_blank" class="font-medium flex items-center gap-1 w-max">
            <svg class="flex-shrink-0"
              width="20"
              height="16"
              viewBox="0 0 20 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path class="contacto-svg"
                d="M2 16C1.45 16 0.979333 15.8043 0.588 15.413C0.196667 15.0217 0.000666667 14.5507 0 14V2C0 1.45 0.196 0.979333 0.588 0.588C0.98 0.196666 1.45067 0.000666667 2 0H18C18.55 0 19.021 0.196 19.413 0.588C19.805 0.98 20.0007 1.45067 20 2V14C20 14.55 19.8043 15.021 19.413 15.413C19.0217 15.805 18.5507 16.0007 18 16H2ZM10 9L2 4V14H18V4L10 9ZM10 7L18 2H2L10 7ZM2 4V2V14V4Z"
                ></path>
            </svg>bonte.decotextil@gmail.com</a
          >
        </li>
        <li>
          <a href="https://wa.me/541155630343" target="_blank" class="font-medium flex items-center gap-1 w-max"
            >
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="contacto-svg" d="M17 2.91005C16.0831 1.98416 14.991 1.25002 13.7875 0.750416C12.584 0.250812 11.2931 -0.00426317 9.99 5.38951e-05C4.53 5.38951e-05 0.0800002 4.45005 0.0800002 9.91005C0.0800002 11.6601 0.54 13.3601 1.4 14.8601L0 20.0001L5.25 18.6201C6.7 19.4101 8.33 19.8301 9.99 19.8301C15.45 19.8301 19.9 15.3801 19.9 9.92005C19.9 7.27005 18.87 4.78005 17 2.91005ZM9.99 18.1501C8.51 18.1501 7.06 17.7501 5.79 17.0001L5.49 16.8201L2.37 17.6401L3.2 14.6001L3 14.2901C2.17755 12.9771 1.74092 11.4593 1.74 9.91005C1.74 5.37005 5.44 1.67005 9.98 1.67005C12.18 1.67005 14.25 2.53005 15.8 4.09005C16.5676 4.85392 17.1759 5.7626 17.5896 6.76338C18.0033 7.76417 18.2142 8.83714 18.21 9.92005C18.23 14.4601 14.53 18.1501 9.99 18.1501ZM14.51 11.9901C14.26 11.8701 13.04 11.2701 12.82 11.1801C12.59 11.1001 12.43 11.0601 12.26 11.3001C12.09 11.5501 11.62 12.1101 11.48 12.2701C11.34 12.4401 11.19 12.4601 10.94 12.3301C10.69 12.2101 9.89 11.9401 8.95 11.1001C8.21 10.4401 7.72 9.63005 7.57 9.38005C7.43 9.13005 7.55 9.00005 7.68 8.87005C7.79 8.76005 7.93 8.58005 8.05 8.44005C8.17 8.30005 8.22 8.19005 8.3 8.03005C8.38 7.86005 8.34 7.72005 8.28 7.60005C8.22 7.48005 7.72 6.26005 7.52 5.76005C7.32 5.28005 7.11 5.34005 6.96 5.33005H6.48C6.31 5.33005 6.05 5.39005 5.82 5.64005C5.6 5.89005 4.96 6.49005 4.96 7.71005C4.96 8.93005 5.85 10.1101 5.97 10.2701C6.09 10.4401 7.72 12.9401 10.2 14.0101C10.79 14.2701 11.25 14.4201 11.61 14.5301C12.2 14.7201 12.74 14.6901 13.17 14.6301C13.65 14.5601 14.64 14.0301 14.84 13.4501C15.05 12.8701 15.05 12.3801 14.98 12.2701C14.91 12.1601 14.76 12.1101 14.51 11.9901Z" fill="#3C2C0B"/>
              </svg>
              +54 11 5563-0343</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/bonte.decotextil/" target="_blank" class="font-medium flex items-center gap-1 w-max"
            ><svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path class="contacto-svg"
                d="M5.8 0H14.2C17.4 0 20 2.6 20 5.8V14.2C20 15.7383 19.3889 17.2135 18.3012 18.3012C17.2135 19.3889 15.7383 20 14.2 20H5.8C2.6 20 0 17.4 0 14.2V5.8C0 4.26174 0.61107 2.78649 1.69878 1.69878C2.78649 0.61107 4.26174 0 5.8 0ZM5.6 2C4.64522 2 3.72955 2.37928 3.05442 3.05442C2.37928 3.72955 2 4.64522 2 5.6V14.4C2 16.39 3.61 18 5.6 18H14.4C15.3548 18 16.2705 17.6207 16.9456 16.9456C17.6207 16.2705 18 15.3548 18 14.4V5.6C18 3.61 16.39 2 14.4 2H5.6ZM15.25 3.5C15.5815 3.5 15.8995 3.6317 16.1339 3.86612C16.3683 4.10054 16.5 4.41848 16.5 4.75C16.5 5.08152 16.3683 5.39946 16.1339 5.63388C15.8995 5.8683 15.5815 6 15.25 6C14.9185 6 14.6005 5.8683 14.3661 5.63388C14.1317 5.39946 14 5.08152 14 4.75C14 4.41848 14.1317 4.10054 14.3661 3.86612C14.6005 3.6317 14.9185 3.5 15.25 3.5ZM10 5C11.3261 5 12.5979 5.52678 13.5355 6.46447C14.4732 7.40215 15 8.67392 15 10C15 11.3261 14.4732 12.5979 13.5355 13.5355C12.5979 14.4732 11.3261 15 10 15C8.67392 15 7.40215 14.4732 6.46447 13.5355C5.52678 12.5979 5 11.3261 5 10C5 8.67392 5.52678 7.40215 6.46447 6.46447C7.40215 5.52678 8.67392 5 10 5ZM10 7C9.20435 7 8.44129 7.31607 7.87868 7.87868C7.31607 8.44129 7 9.20435 7 10C7 10.7956 7.31607 11.5587 7.87868 12.1213C8.44129 12.6839 9.20435 13 10 13C10.7956 13 11.5587 12.6839 12.1213 12.1213C12.6839 11.5587 13 10.7956 13 10C13 9.20435 12.6839 8.44129 12.1213 7.87868C11.5587 7.31607 10.7956 7 10 7Z"
                ></path>
            </svg>bonte.decotextil</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col w-full items-center justify-center gap-5">
    <img src="/logo-footer.svg" alt="Logo del sitio web Bonte Deco" class="w-24 h-auto object-contain">
    <p class="text-xs text-center">Copyright Bonté - 27203856089 - 2024. Todos los derechos reservados.</p>
  </div>
</footer>

<style>
  span {
    font-weight: 600;
  }

  .contacto-svg{
    fill: #3C2C0B;
  }
  a:hover, a:hover .contacto-svg{
    color: #5f4d27;
    fill: #5f4d27;
  }
</style>
