<header class="flex h-[70px] gap-12 px-[5%] w-full sticky top-0 bg-[#f9f9f9] z-50 overflow-hidden">
    <img src="../public/logo.svg" alt="Logo del sitio web Bonte Deco" class="w-24 h-auto object-contain colored">
    <nav class="flex items-center list-none gap-10">
        <li><a href="">Productos destacados</a></li>
        <li><a href="">Quiénes Somos</a></li>
        <li><a href="">Categorías</a></li>
        <li><a href="">Preguntas frecuentes</a></li>
        <li><a href="">Contacto</a></li>
    </nav>
</header>

<style>
.colored{
    filter: brightness(0) saturate(100%) invert(48%) sepia(5%) saturate(1335%) hue-rotate(3deg) brightness(90%) contrast(87%);
}
</style>