---
const isHomePage = new URL(Astro.request.url).pathname === "/";
---

<header
  id="header"
  class={`flex h-[60px] md:h-[70px] gap-12 px-[5%] justify-center items-center lg:justify-start w-full sticky top-0 bg-[#faf9f7] z-[100] overflow-hidden transition-opacity duration-500 ${isHomePage ? "opacity-0" : "opacity-100"}`}
>
  <a
    href="/#"
    id="header-anchor"
    class="p-2 w-full max-w-24 h-auto colored z-[100]"
  >
    <img
      id="header-logo"
      src="/logo.svg"
      alt="Logo del sitio web Bonte Deco"
      class="w-full h-full object-contain"
    />
  </a>
  <nav class="hidden lg:flex items-center">
    <ul class="flex items-center list-none gap-12 desktop-nav">
      <li><a href="/#productos">Productos destacados</a></li>
      <li class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none] [--trigger:hover] boton-dropdown">
        <button id="hs-navbar-example-dropdown" type="button" class="hs-dropdown-toggle flex items-center w-full" aria-haspopup="menu" aria-expanded="false" aria-label="Mega Menu">
          Catálogo de productos
          <svg class="hs-dropdown-open:-rotate-180 sm:hs-dropdown-open:rotate-0 duration-300 ms-1 shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
        </button>

        <div id="contenido-dropdown" class="hs-dropdown-menu transition-[opacity,margin] ease-in-out duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 w-max gap-x-6 gap-y-4 z-10  sm:shadow-md rounded-lg p-4 space-y-1 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden bg-[#faf9f7]" role="menu" aria-orientation="vertical" aria-labelledby="hs-navbar-example-dropdown">
          <a href="/almohadones" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none " href="#">
            Almohadones
          </a>
          <a href="/manteles" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm" href="#">
            Manteles
          </a>
          <a href="/repasadores" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm" href="#">
            Repasadores
          </a>
          <a href="/servilletas" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none " href="#">
            Servilletas
          </a>
          <a href="/toallas" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm" href="#">
            Toallas
          </a>
          <a href="/caminos" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm" href="#">
            Caminos
          </a>
          <a href="/alfombras" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none " href="#">
            Alfombras
          </a>
          <a href="/cortinas" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm" href="#">
            Cortinas de baño
          </a>
          <a href="/flores" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm" href="#">
            Flores
          </a>
          <a href="/piedecama" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none " href="#">
            Pies de cama
          </a>
          <a href="/fundas" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm" href="#">
            Fundas de Edredón
          </a>
          <a href="/pillow" class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm" href="#">
            Pillow
          </a>
        </div>
      </li>
      <li><a href="/#quienessomos">Quiénes Somos</a></li>
      <li><a href="/#faq">Preguntas frecuentes</a></li>
      <li><a href="/#contacto">Contacto</a></li>
    </ul>
  </nav>
  <!-- Navigation Toggle -->
  <button
    type="button"
    id="toggleHamburger"
    class="z-[100] absolute right-[3%] lg:hidden my-2 py-2 px-3 flex justify-center items-center"
    aria-haspopup="dialog"
    aria-expanded="false"
    aria-controls="hs-offcanvas-example"
    aria-label="Toggle navigation"
    data-hs-overlay="#hs-offcanvas-example"
  >
    <img
      id="abrir"
      class="size-8 transition"
      src="/abrir.svg"
      alt="Abrir menú"
    />
    <img
      id="cerrar"
      class="size-9 hidden transition"
      src="/cerrar.svg"
      alt="Cerrar menú"
    />
  </button>
  <!-- End Navigation Toggle -->

  <!-- Sidebar -->
  <div
    id="hs-offcanvas-example"
    class="hs-overlay z-50 lg:hidden [--auto-close:lg] hs-overlay-open:translate-x-0 translate-x-full transition-all duration-300 transform hidden fixed top-0 end-0 bottom-0 w-full max-w-80 bg-[#faf9f7] pt-7 pb-10 overflow-y-auto lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full mt-[60px] md:mt-[70px]"
    role="dialog"
    tabindex="-1"
    aria-label="Sidebar"
  >
    <nav class="hs-accordion-group p-6 w-full flex flex-col flex-wrap">
      <ul class="flex flex-col gap-8">
        <li>
          <a class="flex items-center gap-x-3.5 py-2 px-2.5" href="/#productos">
            Productos destacados
          </a>
        </li>
        <li class="hs-accordion" id="catalogo-accordion">
          <button type="button" class="hs-accordion-toggle hs-accordion-active:hover:bg-transparent w-full text-start flex items-center gap-x-3.5 py-2 px-2.5" aria-expanded="true" aria-controls="users-accordion">
            Catálogo de productos
            <svg class="hs-accordion-active:block ms-auto hidden size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>

            <svg class="hs-accordion-active:hidden ms-auto block size-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
          </button>

          <div id="account-accordion" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 hidden" role="region" aria-labelledby="account-accordion">
            <ul class="pt-4 ps-2 flex flex-col gap-y-4">
              <li>
                <a href="/almohadones" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Almohadones
                </a>
              </li>
              <li>
                <a href="/manteles" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Manteles
                </a>
              </li>
              <li>
                <a href="/repasadores" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Repasadores
                </a>
              </li>
              <li>
                <a href="/servilletas" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Servilletas
                </a>
              </li>
              <li>
                <a href="/toallas" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Toallas
                </a>
              </li>
              <li>
                <a href="/caminos" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Caminos
                </a>
              </li>
              <li>
                <a href="/alfombras" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Alfombras
                </a>
              </li>
              <li>
                <a href="/cortinas" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Cortinas de baño
                </a>
              </li>
              <li>
                <a href="/flores" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Flores
                </a>
              </li>
              <li>
                <a href="/piedecama" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Pies de cama
                </a>
              </li>
              <li>
                <a href="/fundas" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Fundas de Edredón
                </a>
              </li>
              <li>
                <a href="/pillow" class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm" href="#">
                  Pillow
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
            class="flex items-center gap-x-3.5 py-2 px-2.5"
            href="/#quienessomos"
          >
            Quiénes Somos
          </a>
        </li>
        <li>
          <a class="flex items-center gap-x-3.5 py-2 px-2.5" href="/#faq">
            Preguntas frecuentes
          </a>
        </li>
        <li>
          <a class="flex items-center gap-x-3.5 py-2 px-2.5" href="/#contacto">
            Contacto
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- End Sidebar -->
</header>

<style>
  .colored {
    filter: brightness(0) saturate(100%) invert(48%) sepia(5%) saturate(1335%)
      hue-rotate(3deg) brightness(90%) contrast(87%);
  }

  .desktop-nav li a:hover {
    color: #5f4d27;
  }

  #contenido-dropdown.block{
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);

  }

  .boton-dropdown{
    cursor: pointer;
  }
  .boton-dropdown:hover button{
    color: #5f4d27;
  }

  .boton-dropdown button svg{
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("header");
    const banner = document.getElementById("banner");

    if (banner) {
      const observer = new IntersectionObserver(
        ([entry]) => {
          if (!entry.isIntersecting) {
            header.classList.add("opacity-100");
            header.classList.remove("pointer-events-none");
          } else {
            header.classList.remove("opacity-100");
            header.classList.add("pointer-events-none");
          }
        },
        {
          threshold: 0,
        }
      );

      observer.observe(banner);
    } else {
      header.classList.add("opacity-100");
    }
    const toggleHamburger = document.getElementById("toggleHamburger");

    const abrir = document.getElementById("abrir");
    const cerrar = document.getElementById("cerrar");

    toggleHamburger.addEventListener("click", () => {
      abrir.classList.toggle("hidden");
      cerrar.classList.toggle("hidden");
    });

    document.addEventListener("click", (event) => {
      const overlay = document.getElementById("hs-offcanvas-example-backdrop");
      const sidebar = document.getElementById("hs-offcanvas-example");
      const anchors = sidebar.querySelectorAll("a");

      if (overlay && event.target === overlay) {
        abrir.classList.toggle("hidden");
        cerrar.classList.toggle("hidden");
        overlay.remove();
      }

      const target = event.target as HTMLElement;
      const headerAnchor = target.closest("a");
      if (headerAnchor && headerAnchor.id === "header-anchor") {
        overlay.click();
      }

      if(cerrar && event.target === cerrar){
        overlay.remove();
      }

      const dropdown = document.querySelector(".boton-dropdown");

      if(banner){
        dropdown.addEventListener("click", () => {
          window.location.href = "#catalogo";
        });
      }


      anchors.forEach((anchor) => {
        anchor.addEventListener("click", () => {
          overlay.click();
        });
      });
    });

    function checkWidth() {
      if (window.innerWidth > 1024) {
        abrir.classList.remove("hidden");
        cerrar.classList.add("hidden");
      }
    }

    checkWidth();

    window.addEventListener("resize", checkWidth);
  });
</script>
