---
const { id } = Astro.props;
---

<section id={id} class="bg-[rgb(180,191,197,0.36)] overflow-hidden xl:flex xl:items-center xl:min-h-[80dvh]">
  <div class="container otros flex flex-col md:flex-row justify-center items-center w-full h-full gap-10">
    <div class="w-full h-72 sm:w-3/4 sm:h-3/4 aspect-square md:aspect-auto md:w-96 md:h-96 bg-[rgb(82,82,82,0.36)] [animation-iteration-count:infinite] taos:translate-x-[200px] delay-[200ms] duration-[500ms] taos:opacity-0" data-taos-offset="100">
      <img class="object-cover w-full h-full" src="/quienes-somos.webp" alt="Creadoras de Bonté" loading="lazy" />
    </div>
    <div class="flex flex-col justify-center w-full h-full flex-1 [animation-iteration-count:infinite] taos:translate-x-[200px] delay-[200ms] duration-[500ms] taos:opacity-0" data-taos-offset="100">
      <h2 class="text-3xl sm:text-4xl">¿Quiénes somos?</h2>
      <p class="leading-7 text-sm lg:text-base">
        ¡Hola! Somos Gabi y Miri, una dupla inseparable que ha forjado una
        sólida amistad, de esas que son de toda la vida.
      </p>
      <p class="pb-4 leading-7 text-sm lg:text-base">
        Ambas somos docentes jubiladas y, en nuestra búsqueda de un pasatiempo
        apasionante, decidimos sumergirnos en este negocio juntas.
      </p>
      <p class="leading-7 text-sm lg:text-base">
        Gabi es una talentosa decoradora de interiores, mientras que Miri posee
        un alma artística innata. Uniendo nuestras habilidades y pasiones, hemos
        creado Bonté.
      </p>
    </div>
  </div>
</section>

<div class="embedsocial-hashtag" data-ref="6f5b2e03ffd81e8bdd8c40cc638ba7df48af304c" data-lazyload="yes"> <a class="feed-powered-by-es feed-powered-by-es-feed-img es-widget-branding" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title="Instagram widget"> <img src="https://embedsocial.com/cdn/icon/embedsocial-logo.webp" alt="EmbedSocial"> <div class="es-widget-branding-text">Instagram widget</div> </a> </div> <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>