<div class="hs-carousel-slide px-1">
    <div class="grid grid-cols-6 grid-rows-4 gap-4 h-full w-full">
      <a href="/caminos/camino-gasa-doble/" class="group overflow-hidden col-span-6 row-span-2 relative">
          <img
          src="/camino-gasa.premium.webp"
          alt="Camino Gasa Doble de Bonté"
          loading="lazy"
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
        <h3 class="absolute bg-[#D9DAD3] max-[480px]:px-3 max-[480px]:py-2 px-5 py-2 text-sm min-[480px]:text-base md:text-xl bottom-3 left-0 mx-3 text-center">Camino Gasa Doble</h3>
      </a>
      <a href="/fundas/funda-edredon-tusor/" class="group overflow-hidden col-span-3 row-span-2 row-start-3 relative">
          <img
          src="/funda-edredon-terra.webp"
          alt="Funda de Edredón Tusor de Bonté"
          loading="lazy"
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
        <h3 class="absolute bg-[#D9DAD3] max-[480px]:px-3 max-[480px]:py-2 px-5 py-2 text-sm min-[480px]:text-base md:text-xl top-3 right-0 mx-3 text-center">Funda de Edredón Tusor</h3>
      </a>
      <a href="/servilletas/servilleta-gasa/" class="group overflow-hidden col-span-3 row-span-2 col-start-4 row-start-3 relative">
          <img
          src="/servilletas.webp"
          alt="Servilleta Gasa de Bonté"
          loading="lazy"
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
        <h3 class="absolute bg-[#D9DAD3] max-[480px]:px-3 max-[480px]:py-2 px-5 py-2 text-sm min-[480px]:text-base md:text-xl bottom-3 left-0 mx-3 text-center">Servilleta Gasa</h3>
      
      </a>
    </div>
  </div>

