<div class="hs-carousel-slide px-1">
    <div class="grid grid-cols-6 grid-rows-4 gap-4 h-full w-full">
      <a href="#" class="group overflow-hidden col-span-3 row-span-2 relative">
          <img
          src="/linea-cleo-premium.webp"
          alt="Linea Cleo Premium de Bonté"
          loading="lazy"
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
        <h3 class="absolute bg-[#D9DAD3] max-[480px]:px-3 max-[480px]:py-2 px-5 py-2 text-sm min-[480px]:text-base md:text-xl bottom-3 right-0 mx-3 text-center">Linea Cleo Premium</h3>
      </a>
      <a href="#" class="group overflow-hidden col-span-6 row-span-2 col-start-1 row-start-3 relative">
          <img
          src="/cortina-pame.webp"
          alt="Cortina de baño Pame de Bonté"
          loading="lazy"
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
        <h3 class="absolute bg-[#D9DAD3] max-[480px]:px-3 max-[480px]:py-2 px-5 py-2 text-sm min-[480px]:text-base md:text-xl bottom-3 right-0 mx-3 text-center">Cortina de baño Pame</h3>
      </a>
      <a href="#" class="group overflow-hidden col-span-3 row-span-2 col-start-4 row-start-1 relative">
          <img
          src="/wafle-tusor.webp"
          alt="Wafle Tusor de Bonté"
          loading="lazy"
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
        <h3 class="absolute bg-[#D9DAD3] max-[480px]:px-3 max-[480px]:py-2 px-5 py-2 text-sm min-[480px]:text-base md:text-xl top-3 left-0 mx-3 text-center">Wafle Tusor</h3>
      </div>
    </a>
  </div>